<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title></title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css">

        <!-- Scripts -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
	    <script src="{{ url_for("static", filename="js/main.js") }}" defer></script>
    </head>
<body>
<!-- navbar for all pages -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Star Wars Planets</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{url_for('index')}}">Home</a></li>
            </ul>
            
                {% if username %}
                <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ username }}</a></li>
                <li><a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                
                {% else %}
                <ul class="nav navbar-nav navbar-right">
                <li><button id="registration" data-toggle="modal" data-target="#loginModal" data-whatever="@mdo" class="btn btn-default navbar-btn">Sign up</button></li>
                <li><button id="login" data-toggle="modal" data-target="#loginModal" data-whatever="@mdo" class="btn btn-default navbar-btn">Login</button></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
            </div>
            
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
<footer>
</footer>
</html>