{% extends "layout.html" %}
{% block content %}
<div class="container">
  {% if page != 1 %}
  <a href="{{ url_for('index',page = page - 1 ) }}" class="btn btn-info" role="button">Previous</a>
  {% endif %}
  {% if not planets_data_length < 10 %}
  <a href="{{ url_for('index',page = page + 1 ) }}" class="btn btn-info" role="button">Next page</a>
  {% endif %}
  <div class="table-responsive">          
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Diameter (Km)</th>
          <th>Climate</th>
          <th>Terrain</th>
          <th>Surface water percentage</th>
          <th>Population (Million)</th>
          <th>Residents</th>
        </tr>
      </thead>
      <tbody>
        {% for dict_item in planets_data %}
        <tr>
          <td>{{ dict_item['name'] }}</td>
          <td>{{ dict_item['diameter'] }}</td>
          <td>{{ dict_item['climate'] }}</td>
          <td>{{ dict_item['terrain'] }}</td>
          <td>{{ dict_item['surface_water'] }}</td>
          <td>{{ dict_item['population'] }}</td>
          <td id="{{ dict_item['id'] }}">{% if dict_item['residents'] == '0' %} No known residents
              {% else %} <button type="button" class="btn btn-default residents-button" data-toggle="modal" data-target="#exampleModal" data-buttonid="{{ dict_item['id'] }}" data-value="{{ dict_item['residents_url'] }}">{{ dict_item['residents'] }} residents</button>
              {% endif %}
          </td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Planet's residents</h4>
      </div>
      <div class="modal-body">
        <div class="table-responsive">          
    <table class="table" id="#modal-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Height</th>
          <th>Mass</th>
          <th>Skin color</th>
          <th>Hair color</th>
          <th>Eye color</th>
          <th>Birth year</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}